
{
    "presets": ["react", "env"],
    "env": {
      "development": {
      "plugins": [["react-transform", {
         "transforms": [{
           "transform": "react-transform-hmr",
           
           "imports": ["react"],
           
           "locals": ["module"]
         }]
       }],["import", {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": "css" 
      }]
      ]
      }
    }
  }